body {
  display: grid;
  place-items: center;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  border-radius: 30px;
  padding: 20px;
}

.btn {
  width: 40px;
  height:40px;
  background-color: black;
  color: white;
  border-radius: 50%;
  border: 0;
}

.btn:first-child {
  margin-right: 40px;
}